@model WebApplication1.Models.SAN_PHAM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SAN_PHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAI_SAN_PHAM.TenLoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI_SAN_PHAM.TenLoaiSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHA_CUNG_CAP.TenNhaCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHA_CUNG_CAP.TenNhaCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
